<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>20@1x</key>
		<dict>
			<key>width</key>
			<string>{20,20}</string>
			<key>name</key>
			<string>Icon_20@1x.png</string>
		</dict>
		<key>20@2x</key>
		<dict>
			<key>width</key>
			<string>{40,40}</string>
			<key>name</key>
			<string>Icon_20@2x.png</string>
		</dict>
		<key>20@3x</key>
		<dict>
			<key>width</key>
			<string>{60,60}</string>
			<key>name</key>
			<string>Icon_20@3x.png</string>
		</dict>
		<key>29@1x</key>
		<dict>
			<key>width</key>
			<string>{29,29}</string>
			<key>name</key>
			<string>Icon_29@1x.png</string>
		</dict>
		<key>29@2x</key>
		<dict>
			<key>width</key>
			<string>{58,58}</string>
			<key>name</key>
			<string>Icon_29@2x.png</string>
		</dict>
		<key>29@3x</key>
		<dict>
			<key>width</key>
			<string>{87,87}</string>
			<key>name</key>
			<string>Icon_29@3x.png</string>
		</dict>
		<key>40@1x</key>
		<dict>
			<key>width</key>
			<string>{40,40}</string>
			<key>name</key>
			<string>Icon_40@1x.png</string>
		</dict>
		<key>40@2x</key>
		<dict>
			<key>width</key>
			<string>{80,80}</string>
			<key>name</key>
			<string>Icon_40@2x.png</string>
		</dict>
		<key>40@3x</key>
		<dict>
			<key>width</key>
			<string>{120,120}</string>
			<key>name</key>
			<string>Icon_40@3x.png</string>
		</dict>
		<key>50@1x</key>
		<dict>
			<key>width</key>
			<string>{50，50}</string>
			<key>name</key>
			<string>Icon_50@1x.png</string>
		</dict>
		<key>50@2x</key>
		<dict>
			<key>width</key>
			<string>{100,100}</string>
			<key>name</key>
			<string>Icon_50@2x.png</string>
		</dict>
		<key>57@1x</key>
		<dict>
			<key>width</key>
			<string>{57,57}</string>
			<key>name</key>
			<string>Icon_57@1x.png</string>
		</dict>
		<key>57@2x</key>
		<dict>
			<key>width</key>
			<string>{114,114}</string>
			<key>name</key>
			<string>Icon_57@2x.png</string>
		</dict>
		<key>60@1x</key>
		<dict>
			<key>width</key>
			<string>{60,60}</string>
			<key>name</key>
			<string>Icon_60@1x.png</string>
		</dict>
		<key>60@2x</key>
		<dict>
			<key>width</key>
			<string>{120,120}</string>
			<key>name</key>
			<string>Icon_60@2x.png</string>
		</dict>
		<key>60@3x</key>
		<dict>
			<key>width</key>
			<string>{180,180}</string>
			<key>name</key>
			<string>Icon_60@3x.png</string>
		</dict>
		<key>72@1X</key>
		<dict>
			<key>width</key>
			<string>{72，72}</string>
			<key>name</key>
			<string>Icon_72@1x.png</string>
		</dict>
		<key>72@2x</key>
		<dict>
			<key>width</key>
			<string>{144,144}</string>
			<key>name</key>
			<string>Icon_72@2x.png</string>
		</dict>
		<key>76@1x</key>
		<dict>
			<key>width</key>
			<string>{76,76}</string>
			<key>name</key>
			<string>Icon_76@1x.png</string>
		</dict>
		<key>76@2x</key>
		<dict>
			<key>width</key>
			<string>{152,152}</string>
			<key>name</key>
			<string>Icon_76@2x.png</string>
		</dict>
		<key>83.5@2x</key>
		<dict>
			<key>width</key>
			<string>{167,167}</string>
			<key>name</key>
			<string>Icon_83@2x.png</string>
		</dict>
		<key>256@1x</key>
		<dict>
			<key>width</key>
			<string>{256,256}</string>
			<key>name</key>
			<string>Icon_256.png</string>
		</dict>
		<key>512@1x</key>
		<dict>
			<key>width</key>
			<string>{512,512}</string>
			<key>name</key>
			<string>Icon_512.png</string>
		</dict>
		<key>1024@1x</key>
		<dict>
			<key>width</key>
			<string>{1024,1024}</string>
			<key>name</key>
			<string>Icon_1024@1x.png</string>
		</dict>
	</dict>
	<dict>
		<key>16@1X</key>
		<dict>
			<key>width</key>
			<string>16</string>
			<key>name</key>
			<string>Icon_16@1x.png</string>
		</dict>
		<key>16@2X</key>
		<dict>
			<key>width</key>
			<string>32</string>
			<key>name</key>
			<string>Icon_16@2x.png</string>
		</dict>
		<key>32@1X</key>
		<dict>
			<key>width</key>
			<string>32</string>
			<key>name</key>
			<string>Icon_32@1x.png</string>
		</dict>
		<key>32@2X</key>
		<dict>
			<key>width</key>
			<string>64</string>
			<key>name</key>
			<string>Icon_32@2x.png</string>
		</dict>
		<key>128@1X</key>
		<dict>
			<key>width</key>
			<string>128</string>
			<key>name</key>
			<string>Icon_128@1x.png</string>
		</dict>
		<key>128@2X</key>
		<dict>
			<key>width</key>
			<string>256</string>
			<key>name</key>
			<string>Icon_128@2x.png</string>
		</dict>
		<key>256@1X</key>
		<dict>
			<key>width</key>
			<string>256</string>
			<key>name</key>
			<string>Icon_256@1x.png</string>
		</dict>
		<key>256@2X</key>
		<dict>
			<key>width</key>
			<string>512</string>
			<key>name</key>
			<string>Icon_256@2x.png</string>
		</dict>
		<key>512@1x</key>
		<dict>
			<key>width</key>
			<string>512</string>
			<key>name</key>
			<string>Icon512@2x.png</string>
		</dict>
		<key>512@2x</key>
		<dict>
			<key>width</key>
			<string>1024</string>
			<key>name</key>
			<string>Icon_512@2x.png</string>
		</dict>
	</dict>
	<dict>
		<key>iPhone-Portrait -iOS -5, 6-1x</key>
		<dict>
			<key>width</key>
			<string>{320,480}</string>
			<key>name</key>
			<string>Default.png</string>
		</dict>
		<key>iPhone-Portrait -iOS -5, 6-2x</key>
		<dict>
			<key>width</key>
			<string>{640,960}</string>
			<key>name</key>
			<string>Default@2x.png</string>
		</dict>
		<key>iPhone-Portrait -iOS -5, 6-Retina 4</key>
		<dict>
			<key>width</key>
			<string>{640,1136}</string>
			<key>name</key>
			<string>Default-568h@2x.png</string>
		</dict>
		<key>iPhone6/6s Portrait</key>
		<dict>
			<key>width</key>
			<string>{750,1334}</string>
			<key>name</key>
			<string>Default-750@2x.png</string>
		</dict>
		<key>iPhone6/6s plus Portrait</key>
		<dict>
			<key>width</key>
			<string>{1242,2048}</string>
			<key>name</key>
			<string>Default-736@3x.png</string>
		</dict>
		<key>iPad Portrait-Portrait;</key>
		<dict>
			<key>width</key>
			<string>{768,1024}</string>
			<key>name</key>
			<string>Default-Portrait~iPad.png</string>
		</dict>
		<key>iPad2/mini Retina Portrait</key>
		<dict>
			<key>width</key>
			<string>{1536,2048}</string>
			<key>name</key>
			<string>Default@2x-Portrait~iPad.png</string>
		</dict>
		<key>iPad/mini None-Retina Landscape</key>
		<dict>
			<key>width</key>
			<string>{1024,768}</string>
			<key>name</key>
			<string>Default-Landscape~iPad.png</string>
		</dict>
		<key>iPad2/mini Retina Landscape</key>
		<dict>
			<key>width</key>
			<string>{2048,1536}</string>
			<key>name</key>
			<string>Default@2x-Portrait~iPad.png</string>
		</dict>
		<key>iPhonex-Portrait</key>
		<dict>
			<key>width</key>
			<string>{1125,2436}</string>
			<key>name</key>
			<string>Default-812@3x.png</string>
		</dict>
	</dict>
</array>
</plist>
